body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

.home{
    text-align: center;
    padding: 100px 20px;

}

.sobre{
    padding: 60px;
    text-align: center;
}

.projetos{
    padding: 60px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background: #1e293b;
    padding: 20px;
    border: 250px;
    border-radius: 10px;

}

.card button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}

.contato{
    padding: 60px;
    text-align: center;
}

footer{
    background: #020617;
    text-align: center;
    padding: 20px;
}

.card button{
    margin: 10px;
    padding: 10px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover{
    transition:translatey(-10px);
    box-shadow: 0px 10px 25px rgba(0,0,0,0.5);
}

img{
    width: 250px;
    height: 200px;
}
.pessoal{
    height: 80px;
    width: 70px;
}

